.MyNavbar {
  display: block;

  nav {
    height: 55px;
    background-color: #0f1145;

    .navbar-brand {
      width: 97.5px;

      img {
        margin-top: 55%;
        width: 100%;
      }
    }
  }

  .navbar-mobile {
    width: 100%;
    height: 75px;
    margin-bottom: 55px;
    background-color: #0f1145;

    .navbar-mobile-brand {
      width: 97.5px;

      .img-mobile {
        margin-top: 0;
        margin-left: -18px;
        width: 100%;    
      }
    }

    .navbar-nav {
      .nav-item {
        .btn-mobile {
          margin-top: -53px;
          margin-right: 5px;
        }
      }
    }
  }
}
